extends base 
include _reviewCard

block append head
  script(src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js')
  link(href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet')

               

mixin overViewBox(label,text,icon)
    .overview-box__detail
        svg.overview-box__icon
            use(xlink:href=`/img/icons.svg#icon-${icon}`)
        span.overview-box__label= label
        span.overview-box__text= text

block content
    section.section-header
        .header__hero
            .header__hero-overlay &nbsp;
            img.header__hero-img(src=`/img/tours/${tour.imageCover}`, alt=`${tour.name}`)

        .heading-box
            h1.heading-primary
                span= tour.name
            .heading-box__group
                .heading-box__detail
                    svg.heading-box__icon
                        use(xlink:href='/img/icons.svg#icon-clock')
                    span.heading-box__text= `${tour.duration} days`
                .heading-box__detail
                    svg.heading-box__icon
                        use(xlink:href='/img/icons.svg#icon-map-pin')
                    span.heading-box__text= tour.startLocation.description


    section.section-description
        .overview-box
            div
                .overview-box__group
                    h2.heading-secondary.ma-bt-lg Quick facts
                    - const date =  tour.startDates[0].toLocaleString('en-us',{month: 'long',year: 'numeric'})
                    +overViewBox('Next data',date,'calendar')
                    +overViewBox('diffuculty',tour.difficulty,'trending-up')
                    +overViewBox('Participants',`${tour.maxGroupSize} people`,'user')
                    +overViewBox('Rating',`${tour.ratingsAverage} / 5`,'star')




                .overview-box__group
                    h2.heading-secondary.ma-bt-lg Your tour guides
                    each guide in tour.guides
                        .overview-box__detail
                            img.overview-box__img(src=`/img/users/${guide.photo}`, alt=`${guide.role}`)

                            -if(guide.role == 'lead-guide')
                                span.overview-box__label Lead guide
                            -if(guide.role == 'guide')
                                span.overview-box__label Tour Guide

                            span.overview-box__text= guide.name


        .description-box
            h2.heading-secondary.ma-bt-lg= `About The ${tour.name}`
            - const paragraphs = tour.description.split('\n');
            each p in paragraphs
                p.description__text= p

    section.section-pictures
        each img, i in tour.images
            .picture-box
                img.picture-box__img(src=`/img/tours/${img}`, alt=`${img}`,class=`picture-box__img--${i + 1}`)

    section.section-map
        #map(data-locations=`${JSON.stringify(tour.locations)}`)
    
    -if(tour.reviews.length > 0)
      section.section-reviews
        .reviews
         each review in tour.reviews
            +reviewCard(review)

      
           

    section.section-cta
     .cta
       -if(review)
            h2.heading-secondary.ma-bt-lg Your Review
            form.form#form--review 
                    .form__group
                        label.form__label(for='email') Rating(1-5)
                        input#rating.form__input(type="number",value=`${review.rating}`,readonly)
                    .form__group
                        label.form__label(for='email') Reviews
                        textarea#review.form__input(readonly)= review.review
                    .form__group    
            button.btn.btn--green#btnReview(data-tourid=`${tour.id}`) Update Review
            form.form#form--review__delete.d-block
                     button.btn.btn--red.ml.btnDeleteReview(data-reviewid=`${review.id}`) Delete Review
             
       -else
                h2.heading-secondary.ma-bt-lg what is your response to this tour?
                form.form#form--review 
                    .form__group
                        label.form__label(for='email') Star(1-5)
                        input#rating.form__input(type="number",required,max="5",min="1")
                    .form__group
                        label.form__label(for='email') Reviews
                        textarea#review.form__input(required)
                    .form__group    
                        button.btn.btn--green#btnReview(data-tourid=`${tour.id}`) Submit





